body {
    background-color: antiquewhite;
}

/* navbar toggle */
.navbar-toggle .icon-bar {
    background-color: black !important;
}

/* navbar */
.navbar-default {
    background-color: burlywood;
    border-color: burlywood;
}
/* title */
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: burlywood;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: burlywood;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: burlywood;
    border-bottom-color: burlywood;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: burlywood;
    border-bottom-color: burlywood;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: burlywood;
    border-bottom-color: burlywood;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: burlywood;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: burlywood;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: burlywood;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: black;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: black;
    }
}
